:root {
    --calc-color: #f0f0f0;
    --font-family: sans-serif;
    --output-color: rgb(59, 57, 57) ;
    --main-background: #b0b0b0;
    --buttons-background: #767676;
}

#calculator {
    background-color: var(--calc-color);
    border: 2px solid;
    border-color: black;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    max-width: 500px;
    overflow: hidden;
}

.body {
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#screen {
    border: none;
    font-size: 27px;
    color: white;
    width: 100%;
    height: 40px;
    background-color: var(--output-color);
    text-align: left;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

button {
    color: azure;
    background-color: var(--buttons-background);
    font-size: 30px;
    width: 74px;
    text-align: center;
    border: gray solid;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;    
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 30%);
}

button:active {
    background-color: hsl(0, 0%, 40%);
}

.operator {
    background-color: hsl(37, 100%, 41%);
    width: 80px;
}

.operator:hover {
    background-color: hsl(37, 81%, 50%);
}

.operator:active {
    background-color: hsl(37, 81%, 70%);
}

#c {
    width: 250px;
}